@import "tailwindcss";

@theme {
  --color-navy-950: #000c1c;
  --color-navy-900: #001B3D;
  --color-navy-800: #002b5e;
  --color-gold: #D4AF37;
  --color-gold-light: #e5c158;
  --color-ivory: #FCFAF2;
  --color-accent-blue: #377ad4;
  
  --font-display: "Inter", system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-color: var(--color-ivory);
  color: var(--color-navy-900);
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
